.stick {
    position: fixed;
    width:66.667%;
    bottom: 1px;
}

#message{
    color:white !important;
    background-color: #505A72 !important;
    border-radius: 5px;
}

#button{
    height: 100%;
    width: 100%;
    background-color: #505A72 !important;
    color: white;
}
