.stick {
    height : 40px;
    width: calc(100% - 10px);
    margin : 0 5px;
}

.input__container {
    background-color: #505A72;
}

#message{
    color:white !important;
    background-color: #505A72 !important;
    border-radius: 5px;
}

#button{
    color : white;
    background-color: #505A72;
    height : 40px;
    width : 40px;
}